/* .vitepress/theme/custom.css */

/* 1. 引入 Google Roboto 字体，让英文和数字更好看 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* 2. 暴力隐藏 VitePress 默认的导航栏 (VPNav) 和页脚 (VPFooter) */
/* 这里的 !important 意思是“必须听我的，覆盖默认设置” */
.VPNav, .VPFooter {
  display: none !important;
}

/* 3. 去除内容区的默认内边距 */
/* 默认情况下 VitePress 会给内容留白，我们要把它清零，让你的背景铺满全屏 */
.VPContent {
  padding: 0 !important;
}