@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* --- 修改开始 --- */

/* 注意：我们在前面加了 .my-custom-home */
/* 只有当页面拥有这个类名时（也就是只在主页），才隐藏导航栏 */
.my-custom-home .VPNav,
.my-custom-home .VPFooter {
  display: none !important;
}

/* 只有在主页，才把内边距设为 0 */
.my-custom-home .VPContent {
  padding: 0 !important;
}

/* --- 修改结束 --- */